<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RabbitMQConnection" connectionString="amqp://AlertSystem:alert123@localhost:5672/AlertNotificationApp"/>
		<!--connectionString="amqp://<user_name>:<password>@<host>:<port>/<virtualHost>"-->
	</connectionStrings>
</configuration>